<mat-toolbar class="primary px-5">
  <span>.COMPANY</span>
  <div class="spacer">
  </div>
  <a href=""><i class="fa-solid fa-right-from-bracket"></i></a>
</mat-toolbar>
<div class="container my-5">
    <div class="row">
        <div class="col-6">
            <img src="../assets/pitch-in-meeting.svg" class="img-fluid" alt="">
        </div>
        <div class="col-6  py-5">
           <h2>Create <span> Groups</span> for <span>Better</span> Project <span> Management</span></h2>
        <p class="text-muted" >
          A project usually consists of many groups. Each group would have different members with confidential content only to be viewed by specific individuals. CentraHub’s project task management software enables you to create groups and assign tasks specific to each group, conduct meetings and share relevant content with user-defined access to protect confidential documents
        </p>
        <button class="px-4 mt-3 py-2" mat-raised-button color="warn">join us team</button>

        </div>

    </div>
</div>
<div class="container my-5">
  <div class="row mb-2">
      <div class="col-6">
          <img src="../assets/schedule.svg" class="img-fluid" alt="">
      </div>
      <div class="col-6 mt-5 py-5">
        <h2>Set <span>Reminders</span> and <span>Stay</span> on <span>Track</span></h2>
        <p class="text-muted"> Juggling with multiple tasks often leads to inefficiency in work. Help your colleagues and subordinates stay on track by sending them timely reminders via phone calls, SMS and emails.</p>

  </div>
</div>
</div>
<div class="container my-5">
  <div class="row mb-2">
      <div class="col-6">
          <img src="../assets/professor.svg" class="img-fluid" alt="">
      </div>
      <div class="col-6 mt-5 py-5">
      <h2>Categorize <span>Tasks</span> and <span>Assign</span> Contact <span>Persons</span></h2>
      <p >ategorize tasks based on project domain, due dates, status, etc. to streamline task management and complete work faster with better efficiency. Create custom categories and distribute tasks within the predefined categories.

        Assign a contact person to each task who is responsible for completing it on time. Access the history of each task which describes all the activities that have taken place till date.</p>
  </div>
</div>
</div>
