mat-toolbar{
    background-color:#4e42a5;
}

.spacer{
    flex:  1 1 auto;
}
a{
    text-decoration: none;
    color: #ffff;
}
h1{
    letter-spacing: 2px;
    font-size: 30px;
}
p{
    text-align: justify;
}
h2{
  color: #4e42a5;
}
h2 span{
  color: #191a1a;
}

button{
  text-transform: capitalize;
}
.spacer{
  flex:  1 1 auto;
}
span{
  color: #ffff;
}


